body {
    background-image: url("images/R\ \(1\).jpg");
    background-repeat: no-repeat;
  }

nav {
  position: absolute;
  top: 0;
  right: 0;
}

li {
  display: inline;
  margin: 20px;
}

  ul {
    font-family: 'Built Titling';
    font-weight: bolder;
    font-size: 30px;
    color: white;
    list-style-type: none;
    padding: 0;
    
  }

  a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.div1 {
  position: relative;
  margin: auto;
  display: center;
  float: center;
}

h1 {
    font-family: 'Built Titling';
    font-weight: bolder;
    font-size: 200px;
    color: white;
    text-align: center;
    margin-bottom: -150px;
}

h2 {
    font-family: 'ovation';
    font-weight: lighter;
    font-size: 120px;
    color: white;
    text-align: center;
}

.button {
  margin: auto;
  position: center;
}

button {
  font-family: 'Built Titling';
  font-weight: bolder;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-bottom: -150px;
  margin-top: -20px;
  margin-right: -200px;
  margin-left: 650px;
  margin-top: 200px;
  border: 5px solid white;
  background-color: transparent;
  
}

button:hover {
  cursor: pointer;
  background-color: black;
}