body {
    background-image: url("images/R\ \(1\).jpg");
    background-repeat: no-repeat;
  }

nav {
  position: absolute;
  top: 0;
  right: 0;
}

li {
  display: inline;
  margin: 20px;
}

  ul {
    font-family: 'Built Titling';
    font-weight: bolder;
    font-size: 30px;
    color: white;
    list-style-type: none;
    padding: 0;
    
  }

  a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Built Titling';
    font-weight: bolder;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    font-family: 'Built Titling';
    font-weight: bolder;
    font-size: 50px;
    color: white;
    text-align: center;
    border: 5px solid white;
    background-color: transparent;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    cursor: pointer;
    background-color: black;
  }

  label {
    font-family: 'Built Titling';
    font-weight: bolder;
    color: white;
    font-size: 25px;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    margin: auto;
    display: center;
    float: center;
    position: relative;
    margin-top: 100px;
  }